/* HEADER */
.header{

}
.header .headerText{
    -fx-font: 35 Marianne;
    -fx-font-weight: 700;
    -fx-wrap-text: true;
    -fx-font-smoothing-type: gray;
}
.header .subHeaderText{
    -fx-font: 16 Marianne;
    -fx-font-weight: 400;
    -fx-wrap-text: true;
    -fx-font-smoothing-type: gray;
}

/* CONTENT */
.rootPane{
    -fx-padding: 15;
}
.rootPane .label, .rootPane .text, .rootPane .check-box, .rootPane .text-field, .rootPane .tab-header-area, .rootPane .button, .rootPane .spinner{
    -fx-font: 13 Marianne;
    -fx-wrap-text: true;
    -fx-font-smoothing-type: gray;
}
.rootPane .check-box > .box{
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
}

/* BUTTONS */
.buttonBoxContainer{
    -fx-border-width: 1 0 0 0;
    -fx-border-color: grey;
    -fx-padding: 10;
    -fx-alignment: CENTER_RIGHT;
}
.buttonBox{
    -fx-spacing: 10;
    -fx-alignment: CENTER_RIGHT;
}
.buttonBox .button{
    -fx-font: 13 Marianne;
    -fx-font-smoothing-type: gray;
}