/*******************************************************************************
 *                                                                             *
 * Auto Tip Tooltip                                                           *
 *                                                                             *
 ******************************************************************************/

.tooltip-autotip-pane > Label{
    -fx-text-fill: #c7c7c7 !important;
}
.popover > .content Label{
    -fx-text-fill: #c7c7c7 !important;
}
.popover > .content {
    -fx-background-color: #252525 !important;
}
.popover > .border {
	-fx-fill: #252525 !important;
}