[Desktop Entry]
Name=PDF4Teachers
Comment[fr_FR]=Éditeur PDF en grande quantité. Conçus pour les enseignants, cette application garde en mémoire les dernière annotations, et offre des fonctions de barème, de conversion, de dessin vectoriel...
Comment=PDF editing software in large quantities. Designed for teachers, this app keeps recorded previous annotations, and offers features like marking scale, PDF conversion, vectorial drawing...
Exec=/opt/pdf4teachers/bin/PDF4Teachers
Icon=/opt/pdf4teachers/lib/PDF4Teachers.png
Terminal=false
Type=Application
Categories=Education;Office
MimeType=application/pdf