[Desktop Entry]
Name=PDF4Teachers
Comment[fr_FR]=Éditeur de copies PDF
Comment=PDF students assessments editor
Exec=/opt/pdf4teachers/bin/PDF4Teachers
Icon=/opt/pdf4teachers/lib/PDF4Teachers.png
Terminal=false
Type=Application
Categories=Education;Office
MimeType=application/pdf